<p>
  product-compare works!
</p>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col" *ngFor="let Comparedp of Comparedps">
      <p>Verified Time: {{ Comparedp.verifiedDate }}</p>
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="160px" height="90px">
    </div>
  </div>
  <div class="row">
    <div class="col">Summary</div>
    <div class="col" *ngFor="let Comparedp of Comparedps">
      <div></div>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <div class="product-summary" *ngFor="let tag of tagname">
              <div>{{tag}}</div>
          </div>
      </div>
      <div class="col" *ngFor="let Comparedp of Comparedps">
        <div *ngFor="let tag of tagname">
          <div>{{Comparedp.productsHash[tag]}}</div>
        </div>
      </div>
  </div>
</div>
   
