<mat-card>
  <mat-grid-list cols="3" rowHeight="fit">
    <mat-grid-tile *ngFor="let card of cards">
      <mat-card class="product-card">
        <mat-card-content class="verified-time">
          <p>Verified Time: {{ card.verifiedTime | date: shortDate }}</p>
        </mat-card-content>

        <img mat-card-image *ngIf="subcategory == 'HAVC_Fans'; else notShow"
        src="assets/img/fan.jpeg" [alt]="card.manufacturer">

        <ng-template #notShow>
            <img mat-card-image src="assets/img/boiler.jpeg" [alt]="card.manufacturer">
        </ng-template>

        <mat-card-content class="product-head">
          <a [routerLink]="[ '/productslist/', card.productId ]">
            <mat-card-title>
              {{card.manufacturer}}
            </mat-card-title>
            <mat-card-title>
              {{card.series}}
            </mat-card-title>
            <mat-card-title [matTooltip]="card.model">
              {{card.model | slice : 0:15}}
            </mat-card-title>
          </a>
        </mat-card-content>
        <mat-card-content class="product-parameter">
          <mat-card-subtitle *ngFor="let parameter of card.parameters">
            <div *ngIf="parameter.name!='year'">
              {{parameter.value + " " + parameter.name}}({{parameter.unit}})</div>
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-content>
          <mat-checkbox [(ngModel)]="card.checked">Compare</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<div class="col compare-button">
  <button mat-fab (click)="handleCompare()">Compare</button>
</div>
