.verified-time {
    text-align: right;
    font-size: 13px;
    color: gray;
}
mat-card {
    min-width: 200px;
    padding-bottom: 10px;
}
.product-parameter {
    line-height: 2px;
    background: lightgray;
    text-align: center;
    margin-left: -16px;
    margin-right: -16px;
    padding-top: 1px;
    height: 68px;
}
mat-card-title {
    font-size: 18px;
    line-height: 15px;
    text-align: center;
    color: darkred;
}

mat-card-content {
    margin-bottom: 10px;
}
img {
    height: 190px;
    margin-bottom: 10px;
}

mat-grid-list {
    height: 389px;
}


.compare-button {
    padding-top: 10px;
    text-align: center;
}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: darkred;
}

