
<!-- <button (click)="test()"> Get Products</button> -->

<div class="container">
  <div class="row">
    <div class="container">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-4">
      <form>
        <div class="form-row">
          <button type="submit">save</button>
          <button type="reset">clear</button>
        </div>
        <div *ngFor="let parameter of parameters">
          <div class="form-row">
            <div class="form-row">{{parameter.name}}({{parameter.unit}})</div>
            <div class="form-row">
              <div class="col-sm-3"><input type="text" class="form-control" [value]="parameter.min"></div>
              <div class="col-sm-6"><input type="range" class="custom-range" min="2000" max="10000" step="1"
                  id="customRange3"></div>
              <div class="col-sm-3"><input type="text" class="form-control" [value]="parameter.max"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-sm-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
      </nav>
      <app-product-card></app-product-card>
    </div>
  </div>