<p>
  home works!
</p>

<select class="form-control selectpicker show-tick" name="producttype"
    data-first-option="false" required data-live-search="true" id="producttype" (change)="getChange($event.target.value)">
  <option *ngFor="let ProductType of ProductTypes" [value]="ProductType.kind">{{ProductType.name}}</option>
</select>


<input type="text" name="SubProductType" list="SubProductType" placeholder="search..." (input)="onInput($event)">
<datalist id="SubProductType" >
  <option *ngFor="let eachVal of myFullData[DataKind]">{{eachVal}}</option>
</datalist>

<button type="button" (click)="handleClick($event)">search</button>
